<?xml version="1.0" encoding="utf-8"?>
<editorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnginePath>D:\Git\Game\_vs2015\release_dynamic_exe\mge.exe</EnginePath>
  <DefaultPartsFolder>.\parts\</DefaultPartsFolder>
  <HeightMap>0</HeightMap>
  <GroundMap>25</GroundMap>
  <HorizonMap>8</HorizonMap>
  <GroundNormalMap>0</GroundNormalMap>
  <biomeCount>3</biomeCount>
  <isRaw>false</isRaw>
</editorConfig>